body {
  margin: 0;
  background-image: url('https://i.pinimg.com/originals/e6/00/af/e600afbaeec968ec329c4b9d9c90d81c.jpg');
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: right;
  gap: 10rem;
  background-color: white;
  font-size: 30px;
  line-height: 65px;
}
