body {
  margin: 0;
  background-image: url('https://i.pinimg.com/originals/e6/00/af/e600afbaeec968ec329c4b9d9c90d81c.jpg');
  background-size: cover;
}

.navbar {
  display: flex;
  gap: 1rem;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
}

.headerlink {
  margin-right: 75%;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -2px 1px peachpuff;
  font-style: italic;
  color: royalblue;
}
